<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
<p>Manage exhibitions</p>
<table border="1" cellpadding="4" cellspacing="1">
    <tbody>
    <tr>
        <td><span>ID</span></td>
        <td><span>Name</span></td>
        <td><span>Subject</span></td>
        <td><span>Cost</span></td>
        <td><span>Beginning</span></td>
        <td><span>End</span></td>
    </tr>
    <tr th:each="item : ${list}">
        <td th:text="${item.getId()}"></td>
        <td th:text="${item.getExhibitionName()}"></td>
        <td th:text="${item.getSubject()}"></td>
        <td th:text="${item.getCost()}"></td>
        <td><input type="datetime-local" readonly="readonly" th:value="${item.getStringBeginning()}"></td>
        <td><input type="datetime-local" readonly="readonly" th:value="${item.getStringEnd()}"></td>
        <td>
            <a th:href="@{/adm/manage/exhibitions/edit(id=${item.getId()})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
<div>
        <span th:each="i: ${#numbers.sequence(1, page.getTotalPages())}">
            <a th:href="@{/adm/manage/exhibitions(page=${i})}" th:disabled="${currentPage == i}"
               type="submit" name="submit" th:value="i" class="link-button">[[${i}]]</a>
        </span>
</div>
<p><a th:href="@{/adm/manage/exhibitions/edit(id=-1)}">Create new hall</a></p>
</body>
</html>