<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title th:text="${mName}"></title>
</head>
<body>
<h1 th:text="#{masters.masterName}+${mName}"></h1>
<table border="1" style="width:300px">
    <tr th:each="exhibition : ${services}">
        <td th:text="${exhibition.getServiceName()}"></td>
        <td th:text="${exhibition.getCost()}"></td>
        <td>
            <a th:text="#{enroll}" th:href="@{/appointment(sId = ${exhibition.getId()}, mId = ${#request.getParameter('id')})}"></a>
        </td>
    </tr>
</table>
</body>
</html>